.tabMenu {
  border: 1px solid red;
  padding: 8px;
  background-color: white;
  width: 500px;

  display: flex;
  flex-direction: column;
}

.buttonList {
  display: flex;
  flex-direction: row;
  gap: 5px;
  border-bottom: 1px solid red;
  padding-bottom: 5px;
}

.contents > p {
  padding: 0 5px;
}

.reviewList {
  padding: 5px 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.review {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.stars {
  display: flex;
  flex-direction: row;
  gap: 2px;
}